#lets_get_started
	%p#welcome_to_our_studio
		Hey, we are a 
		%span.copy-red Design Studio.
		We make 
		%span.copy-red Websites,
		%span.copy-medium-spring-green	Web Apps 
		and 
		%span.copy-electric-indigo Things 
		that make the Web a lot
		Better
		%span.copy-red	Place.
	%h2#lets_start.sit-center
		Let&rsquo;s 
		%span.border-bottom-red
		Get 
		Started
	.line_red				
	#the-design-studio-form
		= form_for :website, url: websites_path do |objWebsite|
			.form-group.thoughts_on_your_website_label
				.row
					.col-md-10.margin-left-two-hundreds
						%div
							%p.our_label
								%span.circle.background-yellow 1
								Your thoughts on your 
								%span.border_three_pixels_red website,
								What do you want your website to contain?
								= objWebsite.label :website_description, "%p	Your thoughts on your	%span.border-red website, What do you want your website to contain?", class: "hidden"
							//%p
						//%div
					//.col-md-10
				//.row
				
			.form-group.thoughts_on_your_website_box				
				.row	
					.col-md-7.margin-left-four-hundreds.margin-left-thirty-seven-hundreds
						= objWebsite.text_area :website_description, class: "controls"
					
			.form-group.labels_for_people_name_and_email
				.row
					.col-md-5.margin-left-two-hundreds.your_name						
						%div
							%p.our_label
								%span.circle.background-yellow 2 
								Your 
								%span.border_three_pixels_blue Name
								= objWebsite.label :people_name, "Your name:", class: "hidden"
				
					.col-md-5.your_email
						%div.margin-left-eleven-hundreds
							%p.our_label
								%span.circle.background-yellow 3
								Your
								%span.border_three_pixels_red Email
								= objWebsite.label :people_email, "Your email:", class: "hidden"
							
			.form-group.boxes_for_people_name_and_email				
				.row			
					.col-md-4.your_name.margin-left-three-hundreds
						= objWebsite.text_field :people_name, class: "controls margin_left_minus_six_hundreds"
							
					.col-md-4.your_email
						= objWebsite.text_field :people_email,
							class: "controls margin_left_thirty_hundreds"
					
			.form-group.label_and_box_for_business_name
				.row	
					.col-md-5.label_for_business_name
						%p.our_label
							%span.circle.background-yellow 4
							Your
							%span.border_three_pixels_green Business Name
							= objWebsite.label :website_name, "Your business name:", class: "hidden"
				.row
					.col-md-5.box_for_business_name.margin-left-five-hundreds
						= objWebsite.text_field :website_name, class: "controls"						
						
			.row
				.col-md-5.margin-left-five-hundreds
					%h2	
						= objWebsite.submit "Lets begin the work", id: "our-button"
					
	#your_website_its_us_now
		%p
			We will start making your website in a few hours 
			%span#the_clock
				=image_tag "Circle.png", alt: "Few Hours"
			&#46;
			We Hope, both of us will have a great time	working together.
	
		#relationship_shapes
			.circle.pieces.background-yellow.pull-left
			
			.square.pieces.background-red.pull-right
			
		%h2#lets-work-towards-a-great-website
			Lets work towards a great website.
		.line_red
		
		%h2#your-framework-and-your-servers.sit-bottom
			We Use
			%a{ href: "http:www.getbootstrap.com", title: "Twitter Bootstrap", id: "our-link" } Twitter
			Bootstrap
			&#44;
			%a{ href: "http://www.rubyonrails.org", title: "Ruby on Rails", id: "our-link" } Ruby on Rails
			Framework and 
			%a{ href: "http://www.heroku.com", title: "Heroku", id: "our-link" } Heroku
			for
			%span.copy-violet-blue &#46; Building
			your
			%span.copy-blue Websites.
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
