!!!
%html
	%head
		%title PeopleDesignStudio
		%meta{ charset: 'utf-8' }
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
		%meta{ name: "description", content: "People Design Studio - We make Great Websites, Let People Go Through A Great Process of Working With Others and Share Ideas which could create an Impact on the World." }
		%meta{ name: "author", content: "PeopleDesignStudio" }
		-#<link rel="shortcut icon" href="favicon.png">
		= stylesheet_link_tag :application
		= javascript_include_tag :application	
		/ HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
		/ [if lt IE 9]
			= javascript_include_tag :html5shiv
			= javascript_include_tag :"respond.min"
		-#<![endif]-->
	%body.container
		= render "Common_Files/logo"
		-#= link_tag "Sign Out", sign_out_path
		= yield
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
